absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
certifi==2018.8.24
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
html5lib==0.9999999
Keras==2.1.2
keras-resnet==0.1.0
keras-retinanet==0.0.1
Markdown==3.0.1
numpy==1.15.4
opencv-python==3.4.3.18
Pillow==5.3.0
protobuf==3.6.1
PyYAML==3.13
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
Werkzeug==0.14.1
